PUBLIC_SITE_URL=https://portal.creangel.com
SITE_DOMAIN=portal.creangel.com
ACME_EMAIL=soluciones@creangel.com
INITIAL_ADMIN_USERNAME=admin
EDITOR_ADMIN_PASSWORD_PATH=./secrets/editor-admin-password
HTTP_PORT=80
HTTPS_PORT=443
