{
    email {$ACME_EMAIL}
    admin off
    log default {
        format filter {
            wrap json
            request>uri delete
            request>headers>Cookie delete
            request>headers>Authorization delete
        }
    }
}
{$SITE_DOMAIN} {
    encode zstd gzip
    header Strict-Transport-Security "max-age=31536000"
    handle {
        reverse_proxy web:8080 {
            header_up X-Real-IP {remote_host}
        }
    }
}
